body {
    font-family: Arial;
    text-align: center;
    background: #e8f5e9;
}

header {
    background: #2e7d32;
    color: white;
    padding: 20px;
}

.container {
    margin-top: 50px;
}

.btn {
    display: inline-block;
    padding: 15px 25px;
    margin: 10px;
    background: #4caf50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.card-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.card {
    background: white;
    padding: 20px;
    margin: 10px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}
